INSERT INTO payments (id, family_id, subscription_id, amount, status, due_date, paid_date, invoice_number, payment_method, transaction_id, created_at, updated_at) SELECT 'test-payment-1', (SELECT id FROM familys WHERE phone_number = '11999999999'), (SELECT id FROM subscriptions WHERE id = 'test-subscription'), 59.90, 'paid', '2024-01-01', '2024-01-01', 'INV-001', 'credit_card', NULL, NOW(), NOW(); INSERT INTO payments (id, family_id, subscription_id, amount, status, due_date, paid_date, invoice_number, payment_method, transaction_id, created_at, updated_at) SELECT 'test-payment-2', (SELECT id FROM familys WHERE phone_number = '11999999999'), (SELECT id FROM subscriptions WHERE id = 'test-subscription'), 59.90, 'pending', '2024-02-01', NULL, 'INV-002', 'credit_card', NULL, NOW(), NOW();
